<a href="https://colab.research.google.com/github/Moly-malibu/data-science/blob/master/excel_vs_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3
import pandas as pd
import seaborn as sns

# Load the data

In [0]:
from google.colab import files
uploaded = files.upload()

Saving buddymove_holidayiq.csv to buddymove_holidayiq (2).csv

In [0]:
df = pd.read_csv("buddymove_holidayiq.csv")
df.head

<bound method NDFrame.head of       User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0      User 1       2         77      79       69        68      95
1      User 2       2         62      76       76        69      68
2      User 3       2         50      97       87        50      75
3      User 4       2         68      77       95        76      61
4      User 5       2         98      54       59        95      86
..        ...     ...        ...     ...      ...       ...     ...
244  User 245      18        139     148      129       129     168
245  User 246      22        114     228      104        84     168
246  User 247      20        124     178      104       158     174
247  User 248      20        133     149      139       144     213
248  User 249      20        143     149      139       159     143

[249 rows x 7 columns]>

# Turning a DF into SQL

In [0]:
conn = sqlite3.connect("buddymove_holidayiq.sqlite3")
df.to_sql("buddymove_holidayiq.sqlite3", conn)

# Query the database

In [0]:
curs = conn.cursor()

query = "SELECT * FROM 'buddymove_holidayiq.sqlite3'"

curs.execute(query).fetchall()[0]

(0, 'User 1', 2, 77, 79, 69, 68, 95)

In [0]:
df.to_sql

<bound method NDFrame.to_sql of       User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0      User 1       2         77      79       69        68      95
1      User 2       2         62      76       76        69      68
2      User 3       2         50      97       87        50      75
3      User 4       2         68      77       95        76      61
4      User 5       2         98      54       59        95      86
..        ...     ...        ...     ...      ...       ...     ...
244  User 245      18        139     148      129       129     168
245  User 246      22        114     228      104        84     168
246  User 247      20        124     178      104       158     174
247  User 248      20        133     149      139       144     213
248  User 249      20        143     149      139       159     143

[249 rows x 7 columns]>

In [0]:
#Count how many rows you have - it should be 249!
df.count()

User Id      249
Sports       249
Religious    249
Nature       249
Theatre      249
Shopping     249
Picnic       249
dtype: int64

In [0]:
#How many users who reviewed at least 100 Nature in the category also reviewed at least 100 in the Shopping category?
df.groupby('Nature').count()

        User Id  Sports  Religious  Theatre  Shopping  Picnic
Nature
52            1       1          1        1         1       1
53            2       2          2        2         2       2
54            3       3          3        3         3       3
59            4       4          4        4         4       4
60            1       1          1        1         1       1
...         ...     ...        ...      ...       ...     ...
228           3       3          3        3         3       3
238           1       1          1        1         1       1
243           1       1          1        1         1       1
247           1       1          1        1         1       1
318           1       1          1        1         1       1

[83 rows x 6 columns]

In [0]:
df.groupby('Shopping').count()

          User Id  Sports  Religious  Nature  Theatre  Picnic
Shopping
50              1       1          1       1        1       1
51              1       1          1       1        1       1
52              1       1          1       1        1       1
53              1       1          1       1        1       1
54              4       4          4       4        4       4
...           ...     ...        ...     ...      ...     ...
203             3       3          3       3        3       3
208             2       2          2       2        2       2
213             1       1          1       1        1       1
223             2       2          2       2        2       2
233             2       2          2       2        2       2

[79 rows x 6 columns]

In [0]:
#(Stretch) What are the average number of reviews for each category?
df["Sports"].mean()

11.987951807228916

In [0]:
df["Religious"].mean()

109.77911646586345

In [0]:
df["Nature"].mean()

124.51807228915662

In [0]:
df["Picnic"].mean()

120.40160642570281

In [0]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [0]:
%load_ext google.colab.data_table

In [0]:
%unload_ext google.colab.data_table

In [0]:

SELECT COUNT(*) 
FROM `buddymove_holidayiq.sqlite3`